body {
    background: #555;
}

.content {
    max-width: 1000px;
    margin: auto;
    background: lightgrey;
    padding: 10px;
}

.navBarButton {
    float: right;
}

.cart {
    display: none;
}

.column col-md-12 col-sm-12 {
    flex: 52%;
    padding: 0px 14px;
}

.homeImg {
    height: 200px;
}

#home {
    border: 1px solid yellow;
    padding: 10px;
    box-shadow: -2px 11px 10px 5px lightgoldenrodyellow
}

.affix {
    top: 0;
    width: 80%;
    z-index: 999 !important;
}

.navbar-inverse {
    background-color: lightgray !important;
    border-color: darkgrey !important;
}

.affix+.container-fluid {
    padding-top: 30px;
}

.topPadding {
    padding-top: 13px;
}

.leftSpace {
    margin-left: 4px !important;
}